<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @garden.banner_url %>)">
  <%= @garden.name %>
</div>

<div class="garden-actions d-flex py-3 gap-2">
  <%= link_to edit_garden_path(@garden), class: 'btn btn-outline-primary btn-sm' do %>
    <i class="fa fa-pencil"></i> Edit this garden
  <% end %>

  <%= button_to @garden, method: :delete, class: 'btn btn-outline-danger btn-sm' do %>
    <i class="fa fa-trash"></i> Delete this garden
  <% end %>
</div>

<div class="row">
  <% @garden.plants.each do |plant| %>
    <div class="col-2 mt-4">
      <div class="card">
        <img src="<%= plant.image_url %>" class="card-img-top" alt="Plant image">
        <div class="card-body">
          <p class="card-text">
            <%= plant.name %>
          </p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="col-3 mt-4">
    <div class="white-card">
      <h5 class="mb-3"><i class="fa fa-plus"></i> Add new plant</h5>

      <%= simple_form_for [@garden, @plant] do |f| %>
        <%= f.input :name, label: false, placeholder: 'Name' %>
        <%= f.input :image_url, label: false, placeholder: 'Image URL' %>
        <%= f.submit 'Add plant', class: 'btn btn-outline-primary' %>
      <% end %>
    </div>
  </div>
</div>
